<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>
    <div class="table-wrapper">
        <table class="default">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Transaction Date</th>
                    <th>District</th>
                    <th>Representative</th>
                    <th>Stock Ticker</th>
                    <th>Amount</th>
                    <th>Asset Description</th>
                </tr>
            </thead>
            <tbody id="data">
    <!-- 							<tr>
                    <td>00001</td>
                    <td>Lorem ipsum dolor</td>
                    <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>00002</td>
                    <td>Sit amet nullam</td>
                    <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                    <td>19.99</td>
                </tr>
                <tr>
                    <td>00003</td>
                    <td>Feugiat felis viverra</td>
                    <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>00004</td>
                    <td>Sagittis enim felis</td>
                    <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                    <td>19.99</td>
                </tr>
                <tr>
                    <td>00005</td>
                    <td>Nullam sed vestibulum</td>
                    <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                    <td>19.99</td>
                </tr> -->
            </tbody>
    <!-- 						<tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>100.00</td>
                </tr>
            </tfoot> -->
        </table>
    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>